# Mistral Configuration
MISTRAL_API_KEY=
MISTRAL_COMPLETION_ENDPOINT=https://codestral.mistral.ai/v1/fim/completions
MISTRAL_CHAT_ENDPOINT=https://codestral.mistral.ai/v1/chat/completions
MISTRAL_MODEL=codestral-latest

COPILOT_CLAUDE_API_KEY=